@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles/mixins.scss';

.header {
  background-color: $color-main-1;
}

.content {
  display: flex;
  column-gap: 20px;
  align-items: center;
  max-width: 520px;
  min-height: 68px;
  padding: 20px 0;
}

.heading {
  width: 100%;

  @include font($size: $font-size-main);
  line-height: 150%;
  color: $color-main-2;
}

.line {
  height: 68px;

  border-left: 2px solid $color-main-2;
}

.extraSpace {
  padding-left: 11px;
}
