@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';
@import '../../../styles/placeholders.scss';
@import '../../../styles/mixins.scss';

.filters {
  max-width: 500px;
}

.btnReset {
  width: 100%;
  min-height: 80px;
  margin-top: 40px;

  @include font($family: $font-family-tertiary, $size: $font-size-addition);
  line-height: 120%;

  @extend %btn-filter;
}
