// FONTS
$font-family-main: 'Tactic Sans Medium';
$font-family-secondary: 'Tactic Sans Black';
$font-family-tertiary: 'Tactic Sans Bold';

$font-size-main: 1.6rem;
$font-size-heading-1: 4rem;
$font-size-heading-2: 3.2rem;
$font-size-addition: 2.8rem;
