$color-main-1: #010c13;
$color-main-2: #fff;
$color-secondary-1: #9aa7ad;
$color-secondary-2: #000;
$color-secondary-3: #f4f7f8;
$color-promo-primary: #ca0100;
$color-promo-secondary: #b71c1c;
$color-accent-gradient-1: #00a8cd;
$color-accent-gradient-2: #047dbf;
$color-element-active: #a9a9a9;
$color-element-inactive: #9aa7ad;
