@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles/variables/media-queries.scss';
@import '../../styles/mixins.scss';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  min-height: 80px;

  @include font($family: $font-family-tertiary, $size: $font-size-addition);
  line-height: 120%;
  color: $color-main-2;

  background-color: $color-promo-primary;
  border-radius: 8px;

  @media screen and (max-width: calc($media-tablet - 1px)) {
    min-height: 40px;

    font-size: calc(
      $font-size-addition-mobile + (14 + 14 * 0.7) * (100vw - $media-mobile-s) /
        767
    );

    border-radius: 4px;
  }
}
